<div class="mb-4 justify-content-between align-items-center">
  <button class="btn btn-primary" type="button" routerLink="/expenses-form">
    Add Expense
  </button>
  <h5 class="fw-bold">Total Expenses: <strong class="text-success">$200</strong></h5>

  <div class="d-flex flex-column gap-3">
    @for (expense of expenses; track $index) {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card Title</h5>
        <h2 class="fw-bold text-success">$200</h2>
        <p class="card-text">Obviously some text has to be planted here.</p>
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-success">Edit</button>
          <button class="btn btn-sm btn-danger">Remove</button>
        </div>
      </div>
    </div>
  }
  </div>
</div>
